body {
  margin: 0;
  padding: 0;
}

HTML, body {
  background: #e2e1e0;
  /* text-align : center; */
}

.progress {
  text-align: center;
  margin: auto;
  padding: 16px;
  /* left:0;
  right:0;
  top:0;
  bottom:0; */
  /* position:fixed; */
}

.pokeapp {
  flex-grow: 1;
}

.container {
  margin-left: 32px;
}

.pokemon-species-list {
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  -ms-flex-wrap : wrap;
  flex-wrap : wrap;
  padding : 16px 0 16px 16px;
}

.pokemon-species {
  -ms-flex-preferred-size : 25%;
  flex-basis : 25%;
  padding : 8px;
}

.pokemon-species-container {
  padding : 8px;
  background : white;
  cursor : pointer;
  text-align : center;
} 

.card {
  min-width: 175px;
  display: flex;
  max-width: 345px;
  margin-left: 12px;
  margin-bottom: 12px;
}

.sprite {
  width: 100px;
}