body {
    margin: 0;
    background: #e2e1e0;
}

.progress {
    text-align: center;
    padding: 16px;
}

.container {
    margin-right: 0;
}

.pokemon-species-list {
    /* display : -webkit-box;
    display : -ms-flexbox;
    -ms-flex-wrap : wrap;*/
    display : flex;
    flex-wrap : wrap;
    padding : 16px 0 16px 8px;
}

.pokemon-species {
    /* -ms-flex-preferred-size : 25%; */
    flex-basis : 25%;
    padding : 8px;
}

.pokemon-species-container {
    padding : 8px;
    background : white;
    cursor : pointer;
    text-align : center;
} 

.card {
    min-width: 165px;
    display: flex;
    max-width: 345px;
    margin-left: 12px;
    margin-bottom: 12px;
}

.sprite {
    width: 100px;
}

.chip {
    margin-top: 16px;
    margin-right: 8px;
    margin-bottom: -8px;
}